{{ define "about" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    {{ template "criticalCss" }}
    <link rel="stylesheet" href="/static/css/about.css" />
    {{ template "header" }}
    <main id="main">
      <section class="hero">
        <div class="container">
          <h1>{{ .Title }}</h1>
          <p>
            Hows My HTTP? is a website that tells you which HTTP version your
            client supports.
          </p>

          <p>
            This is a project by
            <a href="https://taravancil.com">Tara Vancil</a>. Inspired by the
            eminently more-useful
            <a href="https://howsmyssl.com">howsmyssl.com</a>.
          </p>
        </div>
        <a href="#todo" class="skip-link">Skip to Next Section</a>
      </section>
      {{ template "underConstruction" }}
    </main>
  </body>
</html>
{{ end }}
