{{ define "header" }}
<header class="accent-font">
  <a href="#main" class="skip-link">Skip to Main Content</a>
  <nav role="nav">
    <div class="container">
      <a href="/">
        <span class="wordmark">How's My HTTP?</span>
        <img src="/static/images/rocket.png" alt="" width="16" />
      </a>


      <div>
        <a href="/about">About</a>
        <a href="/api">API</a>
        <a href="https://github.com/taravancil/howsmyhttp">Source Code</a>
      </div>
    </div>
  </nav>
</header>
{{ end }}
