{{ define "head" }}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" width="device-width, initial-scale=1" />

  <title>{{ .Title }}</title>
  <meta property="og:title" content="{{ .Title }}" />
  <meta name="twitter:title" content="{{ .Title }}" />

  <link rel="icon" href="/static/images/rocket.png" type="image/png" />

  <meta
    name="keywords"
    content="http3,http2,http3 test,http3 api,http2 test,http2 api"
  />

  <meta name="description" content="{{ .Description }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="twitter:description" content="{{ .Description }}" />

  <meta property="og:image" content="" />
  <meta name="twitter:image" content="" />

  <meta property="og:url" content="https://howsmyhttp.com" />
  <meta name="twitter:url" content="https://howsmyhttp.com" />

  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@taravancil" />

  <link
    href="/static/fonts/Nunito-SemiBold-subset.woff2"
    as="font"
    type="font/woff2"
    rel="preload"
  />
  <link
    href="/static/fonts/Nunito-SemiBold-subset.woff"
    as="font"
    type="font/woff"
    rel="preload"
  />
  <link
    href="/static/fonts/Nunito-Bold-subset.woff2"
    as="font"
    type="font/woff2"
    rel="preload"
  />
  <link
    href="/static/fonts/Nunito-Bold-subset.woff"
    as="font"
    type="font/woff"
    rel="preload"
  />

  <!-- fonts.css will change very rarely, so let it be cached separately -->
  <link rel="stylesheet" href="/static/css/fonts.css" />
  <link rel="stylesheet" href="/static/css/shared.css" />
</head>
{{ end }}
