{{ define "underConstruction" }}
<div class="container">
  <section class="notice notice--info">
    <div>
      <img
        class="notice-image"
        src="/static/images/construction.png"
        alt=""
        width="64"
      />
    </div>
    <h2 class="notice-title">Under Construction</h2>
    <p class="notice-body">
      How's My HTTP is under active development. Follow along with progress on
      the
      <a href="https://github.com/taravancil/howsmyhttp/projects/1"
        >v1 release on GitHub</a
      >.
    </p>
  </section>
</div>
{{ end }}
